//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	//border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 15px;
	height: rem(50);
	border-radius: rem(6) 0 0 rem(6);
	&::placeholder {
		font-size: rem(14);
		letter-spacing: 0.03em;
		color: $dark-800;
	}
	&._form-focus {
	}
	&._form-error {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
